<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col md="6" class="my-1">
        <b-form-group horizontal label="Filter" class="mb-0">
          <b-input-group>
            <b-form-input v-model="nameFilter" placeholder="Type to Search" />
            <b-input-group-append>
              <b-btn :disabled="!nameFilter" @click="nameFilter = ''">Clear</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table show-empty
             stacked="md"
             :items="myProvider"
             :fields="fields"
             :current-page="currentPage"
             :per-page="perPage"
             :filter="filters"

             @filtered="onFiltered"
    >
<!--      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"-->
      <template slot="name" slot-scope="row">{{row.value}}</template>
      <template slot="enabled" slot-scope="row">{{row.value?'Yes':'No'}}</template>
      <template slot="expiryDate" slot-scope="row">{{row.value}}</template>
      <template slot="actions" slot-scope="row">
        <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
        <b-button size="sm" @click.stop="info(row.item, row.index, $event.target)" class="mr-1">
          Info modal
        </b-button>
        <b-button size="sm" @click.stop="row.toggleDetails">
          {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
        </b-button>
        <router-link class="nav-link" :to="{ name: 'CustomerForm', params: { id: row.item.id } }" exact>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
        </router-link>
      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
          </ul>
        </b-card>
      </template>
    </b-table>

    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>

    <!-- Info modal -->
    <b-modal id="modalInfo" @hide="resetModal" :title="modalInfo.title" ok-only>
      <pre>{{ modalInfo.content }}</pre>
    </b-modal>

  </b-container>
</template>

<script>
  import {AXIOS, encodeQueryData} from './http-common'

  export default {
    name: "customer-list",
    data () {
      return {
        fields: [
          { key: 'name', label: 'Name', sortable: true, sortDirection: 'desc' },
          /*{ key: 'age', label: 'Person age', sortable: true, 'class': 'text-center' },*/
          { key: 'enabled', label: 'Enabled' },
          { key: 'expiryDate', label: 'Expiry Date' },
          { key: 'actions', label: 'Actions' }
        ],
        currentPage: 1,
        perPage: 5,
        //sortDesc: false,
        totalRows: 0,
        //pageOptions: [ 5, 10, 15 ],
        //sortBy: null,
        //sortDirection: 'asc',
        nameFilter: null,
        enabledFilter: null,
        modalInfo: { title: '', content: '' }
      }
    },
    computed: {
/*      sortOptions () {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => { return { text: f.label, value: f.key } })
      }*/
      filters () {
        return {
          "name" : this.nameFilter,
          "enabled" : this.enabledFilter
        }
      }
    },
    methods: {
      info (item, index, button) {
        this.modalInfo.title = `Row index: ${index}`
        this.modalInfo.content = JSON.stringify(item, null, 2)
        this.$root.$emit('bv::show::modal', 'modalInfo', button)
      },
      resetModal () {
        this.modalInfo.title = ''
        this.modalInfo.content = ''
      },
      onFiltered (filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      myProvider (ctx) {
        let params = {
          size: ctx.perPage,
          page: ctx.currentPage-1
        };
        if( ctx.sortBy ){
          params.sort = ctx.sortBy + ',' + (ctx.sortDesc? 'desc' : 'asc')
        }
        if( ctx.filter ){
          //TODO filters
        }
        let promise = AXIOS.get('/customers?' + encodeQueryData( params ))

        // Must return a promise that resolves to an array of items
        return promise.then((response) => {
          // Pluck the array of items off our axios response
          let items = response.data._embedded.customers
          this.totalRows = response.data.page.totalElements
          // Must return an array of items or an empty array if an error occurred
          return(items || [])
        })
      }
    }
  }
</script>
