<template>
  <div class="container">
    <h1>Customer {{id}}</h1>

    <form @submit.prevent="createCustomer" @reset.prevent="onReset" v-if="show">
      <div class="form-group row">
        <label for="customerName" class="col-sm-2 col-form-label">Customer Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="customerName" v-model="customer.name" placeholder="Enter name" required>
        </div>
      </div><!--
      <div class="form-group row">
        <label for="customerType" class="col-sm-2 col-form-label">Customer Type</label>
        <div class="col-sm-10">
          <select class="form-control" v-model="customer.type" required>
            <option value='' disabled>Select One</option>
            <option v-bind:key="customerType" v-for="customerType in customerTypes">{{customerType}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Customer Options</label>
        <div class="col-sm-10">
          <div class="form-check" v-show="option1Visible">
              <input class="form-check-input" type="checkbox" id="option1" v-model="customer.option1">
              <label class="form-check-label" for="option1">Option 1</label>
          </div>
          <div class="form-check" v-show="option2Visible">
              <input class="form-check-input" type="checkbox" id="option2" v-model="customer.option2">
              <label class="form-check-label" for="option2">Option 2</label>
          </div>
          <div class="form-check" v-show="option3Visible">
              <input class="form-check-input" type="checkbox" id="option3" v-model="customer.option3">
              <label class="form-check-label" for="option3">Option 3</label>
          </div>
        </div>
      </div>-->
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-danger">Reset</button>
    </form>
  </div>

  
</template>

<script>

  import {AXIOS} from './http-common'

  export default {
    name: 'customer-form',
    props: { id: { type: Number, required: true } },
    data () {
      return {
        customer: this.createEmptyCustomer(),
        show:true,
        errors: []
      }
    },
    created: function () {
      AXIOS.get("/customers/"+this.id)
        .then(response => {
          // JSON responses are automatically parsed.
          this.customer = response.data
          console.log(response.data)
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    methods: {
      createCustomer () {
        console.log(JSON.stringify(this.customer));
        let customerToSave = {
          id: this.id,
          name: this.customer.name,
          enabled: this.customer.enabled,
          expiryDate: this.customer.expiryDate,
          products: this.customer.products
        }
        AXIOS.post("/customers", customerToSave)
          .then(response => {
            // JSON responses are automatically parsed.
            this.customer = response.data
            console.log(response.data)
          })
          .catch(e => {
            this.errors.push(e)
          })
      },
      onReset () {
        /* Reset our form values */
        this.customer = this.createEmptyCustomer();
        /* Trick to reset/clear native browser form validation state */
        this.show = false;
        this.$nextTick(() => { this.show = true });
      },
      createEmptyCustomer: function () {
        return {
          name: '',
          enabled: true,
          expiryDate: null,
          products: null
        }
      }
    },
    computed: {
    }

  }

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1{
    font-weight: normal;
  }
</style>
