<template>
  <div class="container">
    <h1>Create Product</h1>

    <form @submit.prevent="createProduct" @reset.prevent="onReset" v-if="show">
      <div class="form-group row">
        <label for="productName" class="col-sm-2 col-form-label">Product Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="productName" placeholder="Enter name" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="productType" class="col-sm-2 col-form-label">Product Type</label>
        <div class="col-sm-10">
          <select class="form-control" v-model="product.type" required>
            <option value='' disabled>Select One</option>
            <option v-bind:key="productType" v-for="productType in productTypes">{{productType}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Options</label>
        <div class="col-sm-10">
          <div class="form-check" v-show="option1Visible">
              <input class="form-check-input" type="checkbox" id="option1" v-model="product.option1">
              <label class="form-check-label" for="option1">Option 1</label>
          </div>
          <div class="form-check" v-show="option2Visible">
              <input class="form-check-input" type="checkbox" id="option2" v-model="product.option2">
              <label class="form-check-label" for="option2">Option 2</label>
          </div>
          <div class="form-check" v-show="option3Visible">
              <input class="form-check-input" type="checkbox" id="option3" v-model="product.option3">
              <label class="form-check-label" for="option3">Option 3</label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-danger">Reset</button>
    </form>
  </div>

  
</template>

<script>

  export default {
    name: 'product-form',

    data () {
      return {
        product: this.createEmptyProduct(),
        productTypes: [
          // { text: 'Select One', value: '', disabled: true },
          'HDF', 
          'HDT', 
          'AUDI_MIB3'
        ],
        show:true
      }
    },
    methods: {
      createProduct () {
        console.log(JSON.stringify(this.product));
        this.onReset();
      },
      onReset () {
        /* Reset our form values */
        this.product = this.createEmptyProduct();
        /* Trick to reset/clear native browser form validation state */
        this.show = false;
        this.$nextTick(() => { this.show = true });
      },
      createEmptyProduct: function () {
        return {
          name: '',
          type: '', 
          option1: false, 
          option2: false, 
          option3: false
        }
      }
    },
    computed: {
      option1Visible : function(){
        return  this.product.type != '';
      },
      option2Visible : function(){
        return  this.product.type === 'AUDI_MIB3';
      },
      option3Visible : function(){
        return  this.product.type === 'HDF' || this.product.type === 'AUDI_MIB3';
      }
    }

  }

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1{
    font-weight: normal;
  }
</style>
