<template>
  <div id="app">
    <banner></banner>
    <div class="container-fluid">
      <div class="row">
        <side-menu class="col-md-2 d-none d-md-block"></side-menu>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <router-view :hellomsg="msg"></router-view>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import Banner from './components/Banner'
import SideMenu from './components/SideMenu'

export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to your Vue.js powered Spring Boot App'
    }
  },
  components: {
    Banner, 
    SideMenu
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*font-size: .875rem;*/
}
[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

</style>
